.TodoTemplate {
  width: 300px;
  // width가 주어진 상태에서 좌우 중앙 정렬
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  margin-top:3rem;
  .app-title {
    justify-content: space-between;
    background: #74c0fc;
    color: white;
    height: 4rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    padding:1rem;
  }
  .content {
    background: white;
    
  }
  .category{
  }
  .checkbox {
    cursor: pointer;
  }
  .remove {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: #ff6b6b;
    cursor: pointer;
    &:hover {
      color: #ff8787;
    }
  }
}
